<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->

      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input formControlName="project_name" type="text" class="form-control" placeholder="Project Name">
          <p
            *ngIf="projectForm.get('project_name').invalid && projectForm.get('project_name').touched"
            class="text-danger">
            <span *ngIf="projectForm.get('project_name').errors['required']">This field is required</span>
            <span *ngIf="projectForm.get('project_name').errors['projectNameForbidden']">Project name is forbidden</span>
          </p>
        </div>
        <div class="form-group">
          <input formControlName="email" type="email" class="form-control" placeholder="Email">
          <p
            *ngIf="projectForm.get('email').invalid && projectForm.get('email').touched"
            class="text-danger">
            <span *ngIf="projectForm.get('email').errors['required']">This field is required</span>
            <span *ngIf="projectForm.get('email').errors['email']">Please enter a valid email</span>
            <span *ngIf="projectForm.get('email').errors['emailForbidden']">Email is forbidden</span>
          </p>
        </div>
        <select formControlName="project_status" class="form-control mb-20">
          <option value="stable">Stable</option>
          <option value="critical">Critical</option>
          <option value="finished">Finished</option>
        </select>
        <button type="submit" [disabled]="projectForm.invalid" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
